## MAC OS
.DS_Store

## TEXTMATE
/*.tmproj
/.tm_properties
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
/coverage
/pkg

# don't commit Gemfile.lock
/*.lock
/*.gem

# rdoc generated
/rdoc

# yard generated
/doc
/.yardoc

# bundler
/.bundle

# ruby versioning & gemsets
/.gems
/.rbenv-gemsets
/.ruby-gemset
/.ruby-version
/.rvmrc